@page {
    margin: 0
}

.sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
}


/** Paper sizes **/

body.struk.sheet {
    width: 80mm;
}

body.struk.sheet {
    padding: 2mm;
}

.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}


/** For screen preview **/

@media screen {
    .sheet {
        background: white;
        box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
        margin: 5mm;
    }
}


/** Fix for Chrome issue #273306 **/

@media print {
    body {
        font-family: monospace;
    }
    .struk {
        width: 80mm;
        text-align: left;
    }
    .struk.sheet {
        padding: 2mm;
    }
    .txt-left {
        text-align: left;
    }
    .txt-center {
        text-align: center;
    }
    .txt-right {
        text-align: right;
    }
}